
.typewriter{
  font-weight:500;
  font-size: var(--fs-lg);
  color: rgb(0, 255, 186);
  font-size: 1.2rem;
  text-transform:;
  padding-top: 30px;
}

@media screen and (max-width : 960px){
.typewriter{
  font-size: 20px;
  margin-left: 0.5rem;
}
}
