.about-me {
    margin-top: 5rem;
    margin-bottom: 6rem;
}
.about{
    display: flex;
    justify-content: space-around;
}
.about-content {
    width: 460px;
    line-height: 2.4;
    margin: 5px;
    font-size: var(--fs-md);
    font-family: 'Poppins-Light';
}
.about-content-wrapper h3{
    font-weight: 600;
    line-height: 1.1;
    color: #66ffda;
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-family: 'Poppins-Bold';
}
.about-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.about-btns Button {
    margin: 10px;

}
.about-btns Button a {
    color: #66ffda;
    text-decoration: none;
}
.span {
    color : #34b494;
    opacity: 0.8;
}
.my-skills{
    margin-right: 2rem;
}
.my-skills p{
 font-size: var(--fs-md);
 margin-left: 0.3rem;
 font-family: 'Poppins-Light';
}
.skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 0.7fr);
    font-size: var(--fs-md);
    margin : 1rem 0 0 1.6rem;
    font-family: 'Poppins-SemiBold';
}
.skills-list li{
    padding: 0.2rem;
}
.skills-list li:before{
    content: '▹';
    color: #34b494;
}
@media screen and (max-width : 960px){
   .about{
       flex-direction: column;
       margin-top: 9rem;
   }
   .about-content-wrapper{
       margin-left: 2rem;
   }
   .about-content{
       width:97%;
       line-height: 1.8;
   }
   .skills-list li{
    padding: 0.4rem;
   }
   .skills-list li:before{
    content: '▹';
    font-size: var(--fs-sm);
   }
   .about-btns{
       margin-top: 1.5rem;
   }
}